cachetools==5.2.0
decorator==5.1.1
huggingface-hub==0.7.0
keras==2.11.0
Markdown==3.4.1
pandas==1.5.2
pip==22.3.1
protobuf==3.19.6
py==1.10.0
sentencepiece==0.1.97
streamlit==1.15.1
tensorflow-cpu==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.28.0
tokenizers==0.12.1
wheel==0.38.4